body{
    background-image: url(fondo.jpg);
    background-size: 100%;
    font-family: Nunito;
    align-items: center;
    justify-items: center;
}
.contenedor-visible {
    margin-top: 90px;
    overflow: hidden;
    display: flex;
    border-radius: 15px;
    align-items: center;
    width: 500px;
    height: 490px;
    border: 2px solid white;
    margin-bottom: 20px;
    background-color: white;
    flex-direction: column;
}
.button {
    background-color: #ff0011;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    margin-top: 10px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    border: 0px;
    width: 90%;
}
.campos{
    width: 400px;
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}
.campos input{
    align-items: center;
    width: 85%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 25px;

}
.campos .icono{
    position: absolute;
    left: 15px;
    top: 12px;
    color: #ccc;
}
.Centro{
    align-content: center;
}